/* Code tidied up by ScrapBook */
.lb-widget-chat { box-sizing: content-box; text-align: left; }
.lb-widget-chat *, .lb-widget-chat [type="email"], .lb-widget-chat [type="tel"], .lb-widget-chat [type="text"], .lb-widget-chat textarea[rows] { box-sizing: inherit; font-family: "Roboto",sans-serif; font-style: normal; text-transform: none; letter-spacing: normal; font-weight: normal; border-radius: 0px; margin: auto; padding: 0px; box-shadow: none; background: transparent none repeat scroll 0% 0%; color: inherit; width: auto; height: auto; text-decoration: none; border: medium none; }
.lb-widget-chat [type="email"]:focus, .lb-widget-chat [type="email"]:hover, .lb-widget-chat [type="tel"]:focus, .lb-widget-chat [type="tel"]:hover, .lb-widget-chat [type="text"]:focus, .lb-widget-chat [type="text"]:hover, .lb-widget-chat a:focus, .lb-widget-chat a:hover, .lb-widget-chat button:focus, .lb-widget-chat button:hover, .lb-widget-chat input:focus, .lb-widget-chat input:hover, .lb-widget-chat textarea:focus, .lb-widget-chat textarea:hover, .lb-widget-chat textarea[rows]:focus, .lb-widget-chat textarea[rows]:hover { color: currentcolor; box-shadow: none; outline: medium none; }
.lb-balloon, .lb-button, .lb-chat-enter__field, .lb-chat-message, .lb-form-control { border-radius: 4px ! important; }
.lb-layout-chat-messages__wrapper-notify { border-radius: 4px 4px 0px 0px ! important; }
.lb-chat-messages-list { padding: 0px ! important; margin: 0px ! important; list-style: outside none none ! important; }
.lb-chat-messages-data, .lb-chat-messages-divider, .lb-layout-chat-messages__wrapper-notify, .lb-status, .lb-widget-chat img { -moz-user-select: none ! important; pointer-events: none ! important; }
.lb-avatar__image, .lb-chat-messages-data .lb-chat-messages-avatar { object-fit: cover ! important; height: 100% ! important; width: 100% ! important; }
.lb-chat-enter__table { display: table; }
.lb-chat-enter__cell { display: table-cell; }
.lb-balloon-close, .lb-widget-close { background-repeat: no-repeat ! important; background-size: contain ! important; cursor: pointer ! important; transition: opacity 0.2s ease 0s ! important; }
.lb-chat, .lb-widget-layout-footer { transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s; }
.lb-widget-panel { display: block ! important; position: fixed; bottom: 50px; right: 50px; pointer-events: none; font-size: 0px; }
.lb-widget-panel--position-right { right: 50px; left: initial; }
.lb-widget-panel__item { position: relative; display: inline-block; vertical-align: bottom; margin-left: 10px; pointer-events: auto; font-size: 16px; line-height: normal; }
.lb-widget-panel__item:first-child { margin-left: 0px; }
.lb-grid { margin-left: -5px; margin-right: -5px; }
.lb-grid::after, .lb-grid::before { content: ""; display: table; }
.lb-grid::after { clear: both; }
.lb-column-1, .lb-column-2, .lb-column-3, .lb-column-4, .lb-column-5, .lb-column-6, .lb-column-7, .lb-column-8, .lb-column-9, .lb-column-10, .lb-column-11, .lb-column-12 { float: left; min-height: 1px; position: relative; padding-left: 5px; padding-right: 5px; box-sizing: border-box; margin-bottom: 10px; }
.lb-overlap .lb-column-1, .lb-overlap .lb-column-2, .lb-overlap .lb-column-3, .lb-overlap .lb-column-4, .lb-overlap .lb-column-5, .lb-overlap .lb-column-6, .lb-overlap .lb-column-7, .lb-overlap .lb-column-8, .lb-overlap .lb-column-9, .lb-overlap .lb-column-10, .lb-overlap .lb-column-11, .lb-overlap .lb-column-12 { margin-bottom: 5px; }
.lb-column-3 { width: 25%; }
.lb-column-4 { width: 33.3333%; }
.lb-column-6 { width: 50%; }
.lb-column-9 { width: 75%; }
.lb-column-12 { width: 100%; }
.lb-column-offset-2 { margin-left: 16.6667%; }
.lb-form-control { margin: 0px ! important; box-sizing: border-box ! important; width: 100% ! important; max-width: 100% ! important; border: 1px solid rgb(200, 200, 200) ! important; transition: border-color 0.18s ease 0s ! important; outline: medium none ! important; padding: 5px 10px ! important; line-height: 1 ! important; font-size: 12px ! important; height: 30px ! important; color: rgb(100, 99, 117) ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; text-indent: 0px ! important; }
.lb-form-control:hover { border-color: rgb(180, 180, 180) ! important; }
.lb-form-control:focus { border-color: rgb(159, 159, 159) ! important; }
.lb-form-control--large { font-size: 14px ! important; height: 36px ! important; }
.lb-form-control:-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-form-control::-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-form-control:focus:-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-form-control:focus::-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-form-control--error-message { color: rgb(244, 67, 54); }
.lb-button { min-width: initial ! important; letter-spacing: initial ! important; font-weight: initial ! important; font-family: inherit ! important; margin: 0px ! important; display: inline-block ! important; white-space: nowrap ! important; -moz-user-select: none ! important; text-decoration: none ! important; vertical-align: middle ! important; outline: medium none ! important; position: relative ! important; line-height: normal ! important; transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s ! important; cursor: pointer ! important; text-align: center ! important; box-sizing: border-box ! important; overflow: hidden ! important; text-overflow: ellipsis ! important; border: medium none ! important; padding: 5px 10px ! important; font-size: 12px ! important; height: 30px ! important; background-color: rgb(102, 110, 124) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button:focus, .lb-button:hover { background-color: rgb(107, 115, 130) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button:active { background-color: rgb(97, 105, 118) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button-color-access { background-color: rgb(4, 178, 94) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button-color-access:focus, .lb-button-color-access:hover { background-color: rgb(4, 188, 99) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button-color-access:active { background-color: rgb(4, 168, 89) ! important; color: rgb(255, 255, 255) ! important; }
.lb-button--small { font-size: 11px ! important; height: 28px ! important; }
.lb-button--large { font-size: 14px ! important; height: 36px ! important; }
.lb-button--link { border: medium none ! important; padding: 0px ! important; height: auto ! important; background: transparent none repeat scroll 0% 0% ! important; text-decoration: underline ! important; color: rgb(168, 168, 168) ! important; }
.lb-button--link:focus, .lb-button--link:hover { background-color: transparent ! important; color: rgb(168, 168, 168) ! important; }
.lb-button--link:active { background-color: transparent ! important; color: rgb(168, 168, 168) ! important; }
.lb-button--fluid { display: block ! important; width: 100% ! important; }
.lb-button--outline { background: transparent none repeat scroll 0% 0% ! important; border: 1px solid ! important; color: rgb(102, 110, 124) ! important; }
.lb-button--outline:active, .lb-button--outline:focus, .lb-button--outline:hover { background: transparent none repeat scroll 0% 0% ! important; }
.lb-button--outline:focus, .lb-button--outline:hover { color: rgb(107, 115, 130) ! important; }
.lb-button--outline:active { color: rgb(97, 105, 118) ! important; }
.lb-notify { font-size: 12px; transition: all 0.2s ease 0s; color: rgb(171, 171, 171); overflow: hidden; }
.lb-notify__icon, .lb-notify__text { float: left; }
.lb-notify__icon { margin-right: 9px; }
.lb-notify__text { display: inline-block; }
.is-operator-not-writing .lb-notify, .lb-notify { max-height: 0px; overflow: hidden; opacity: 0; visibility: hidden; transition: opacity 0.2s ease 0s, max-height 0.4s ease 0s, visibility 0s ease 0.5s; }
@keyframes writen {
5% { transform: rotate(-1deg) scale(1.2); }
20% { transform: rotate(-6deg); }
40% { transform: rotate(-3deg); transform-origin: 68% 77% 0px; }
60% { transform: rotate(2deg) scale(0.97); transform-origin: 63% 75% 0px; }
80% { transform: rotate(4deg); }
}
@keyframes writen {
5% { transform: rotate(-1deg) scale(1.2); }
20% { transform: rotate(-6deg); }
40% { transform: rotate(-3deg); transform-origin: 68% 77% 0px; }
60% { transform: rotate(2deg) scale(0.97); transform-origin: 63% 75% 0px; }
80% { transform: rotate(4deg); }
}
.lb-badge { font-size: 13px; text-align: center; line-height: 1; position: absolute; right: 0px; top: 0px; -moz-user-select: none; }
@keyframes scaleJump {
0% { transform: scale(0); }
75% { transform: scale(1.25); }
}
@keyframes scaleJump {
0% { transform: scale(0); }
75% { transform: scale(1.25); }
}
.lb-overlap { height: 100%; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-align: center; align-items: center; position: relative; padding-left: 13px; padding-right: 13px; background-color: rgba(255, 255, 255, 0.8); }
.lb-overlap__middle-box { width: 100%; text-align: center; }
.lb-overlap__bottom-box { text-align: center; position: absolute; bottom: 0px; left: 0px; right: 0px; }
.lb-widget-link-technology { text-decoration: none ! important; font-size: 11px; -moz-user-select: none; transition: color 0.2s ease 0s; }
.lb-balloon .lb-widget-link-technology { color: rgb(42, 46, 53); background: transparent linear-gradient(to right, rgb(42, 46, 53) 0%, rgb(42, 46, 53) 40%, rgb(238, 238, 238) 50%, rgb(42, 46, 53) 60%, rgb(42, 46, 53) 100%) repeat scroll 0% 0% padding-box text; -webkit-text-fill-color: transparent; animation: 25s ease 0s normal none infinite running lb-slidetounlock; }
.lb-balloon .lb-widget-link-technology:hover { color: rgb(42, 46, 53); }
.lb-widget-layout-footer .lb-widget-link-technology { vertical-align: bottom; }
.lb-overlap .lb-widget-link-technology { color: rgb(116, 116, 116); }
@keyframes lb-slidetounlock {
0% { background-position: -720px 0px; }
100% { background-position: 720px 0px; }
}
@keyframes lb-slidetounlock {
0% { background-position: -720px 0px; }
100% { background-position: 720px 0px; }
}
.lb-flipper { width: 100%; height: 100%; transition: transform 0.5s cubic-bezier(0.36, 0.8, 0.33, 1.2) 0s, -webkit-transform 0.5s cubic-bezier(0.36, 0.8, 0.33, 1.2) 0s; transform-style: preserve-3d; transform-origin: 50% 50% 0px; }
.lb-flipper__item { backface-visibility: hidden; width: 100%; height: 100%; top: 0px; left: 0px; overflow: hidden; position: absolute; transform-origin: 50% 50% 0px; }
.lb-flipper__item--front { z-index: 0; }
.lb-flipper__item--back { transform: rotateY(-180deg); border-radius: 50%; background-color: transparent; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }
.lb-flipper__item--back::before { content: ""; display: block; position: absolute; width: 140%; height: 100%; top: 120%; left: -20%; opacity: 0.6; background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0)) repeat scroll 0% 0%; transform: rotate(20deg) translateZ(0px); animation: 10s cubic-bezier(0, 0.3, 1, 0.7) 0s normal none infinite running avatar-blink; will-change: transform; z-index: 1; }
@keyframes flipper {
50% { transform: rotateY(0.25turn) translateZ(-5px); }
100% { transform: rotateY(180deg) translateZ(0px); }
}
@keyframes flipper {
50% { transform: rotateY(0.25turn) translateZ(-5px); }
100% { transform: rotateY(180deg) translateZ(0px); }
}
@keyframes avatar-blink {
0% { top: 120%; }
75% { top: 120%; }
80% { top: -120%; }
100% { top: -120%; }
}
@keyframes avatar-blink {
0% { top: 120%; }
75% { top: 120%; }
80% { top: -120%; }
100% { top: -120%; }
}
.lb-status { font-size: 12px; line-height: 34px; font-weight: 100; }
.lb-status__indicator, .lb-status__text { display: inline-block ! important; }
.lb-status__indicator { vertical-align: middle; border-radius: 50%; width: 11px; height: 11px; margin-right: 7px; }
.lb-status--is-online .lb-status__indicator { background-color: rgb(90, 229, 162); }
.lb-avatar { font-size: 14px; }
.lb-avatar__wrapper-image { width: 60px; height: 60px; overflow: hidden; border-radius: 50%; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); margin-bottom: 4px; }
.lb-avatar__text { line-height: 1; }
.lb-widget-header { position: relative; }
.lb-widget-header-piece { top: 0px; min-height: 1px; position: absolute; }
.lb-widget-header-piece--status { left: 0px; }
.lb-widget-header-piece--avatar { left: 50%; transform: translate3d(-50%, -30px, 0px); -moz-user-select: none; }
.lb-widget-header-piece--close { top: 5px; right: -5px; }
.lb-widget-chat { transition: all 0.48s ease 0s; box-sizing: content-box; will-change: width, height, border-radius; color: rgb(42, 46, 53); font-family: "Roboto",sans-serif; transform: translateZ(0px); }
.is-chat-closed .lb-widget-chat { width: 80px; height: 80px ! important; border-radius: 50%; border-color: transparent; transition-property: width, height, border-radius, background-color; transition-delay: 0s, 0s, 0.12s, 0.47s; transition-duration: 0.42s; }
.lb-widget-button { cursor: pointer; position: relative; }
.lb-widget-button__image { object-fit: cover; pointer-events: none; position: absolute; top: 0px; left: 0px; width: 80px ! important; height: 80px ! important; }
.lb-widget-button__wrapper-flipper { position: relative; width: 80px; height: 80px; }
.lb-widget-button__wrapper-badge { position: absolute; top: 0px; right: -4px; }
.lb-widget-close { background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9Ijc3LjYsMjEuMSA0OS42LDQ5LjIgMjEuNSwyMS4xIDE5LjYsMjMgNDcuNiw1MS4xIDE5LjYsNzkuMiAyMS41LDgxLjEgNDkuNiw1MyA3Ny42LDgxLjEgNzkuNiw3OS4yICAgNTEuNSw1MS4xIDc5LjYsMjMgIi8+PC9zdmc+"); width: 27px; height: 27px; opacity: 0.7; }
.lb-widget-close:hover { opacity: 1; }
.lb-chat-messages-divider { text-align: center; margin: 8px 13px; overflow: hidden; }
.lb-chat-messages-divider--condensed { margin-top: 0px; margin-bottom: 0px; }
.lb-chat-messages-divider--style-dash { position: relative; }
.lb-chat-messages-divider--style-dash::after, .lb-chat-messages-divider--style-dash::before { content: ""; position: absolute; top: 0px; bottom: 0px; width: 20px; z-index: 1; }
.lb-chat-messages-divider--style-dash::before { left: 0px; background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)); }
.lb-chat-messages-divider--style-dash::after { right: 0px; background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0)); }
.lb-chat-messages-divider--style-dash .lb-chat-messages-divider-content::after, .lb-chat-messages-divider--style-dash .lb-chat-messages-divider-content::before { content: ""; position: absolute; height: 2px; border-bottom: 1px solid rgb(235, 235, 235); top: 0px; bottom: 0px; width: 100%; margin-top: auto; margin-bottom: auto; }
.lb-chat-messages-divider--style-dash .lb-chat-messages-divider-content::before { margin-left: -102%; }
.lb-chat-messages-divider--style-dash .lb-chat-messages-divider-content::after { margin-left: 2%; }
.lb-chat-messages-label { color: rgb(0, 0, 0); text-transform: uppercase; }
.lb-chat-messages-label--time { font-size: 8px; }
.lb-chat-messages-label--date { font-size: 9px; opacity: 0.5; }
.lb-chat-messages-list { box-sizing: border-box ! important; font-size: 13.8px ! important; overflow-x: hidden; overflow-y: auto; max-height: 100% ! important; color: rgb(42, 46, 53); bottom: 0px; left: 0px; right: 0px; position: absolute; }
.lb-chat-messages-item { padding-top: 8px; padding-bottom: 8px; margin-left: 30px; margin-right: 13px; text-align: right; cursor: default; }
.lb-chat-messages-item:last-of-type { padding-bottom: 28px ! important; }
.lb-chat-messages-item--system { margin-right: 13px; margin-left: 13px; text-align: left; }
.lb-chat-messages-item--placeholder { margin-right: 30px; margin-left: 13px; text-align: left; }
.lb-chat-messages-item--placeholder:last-of-type { padding-bottom: 10px ! important; }
.lb-chat-messages-data { float: left; }
.lb-chat-messages-data__item--avatar { width: 30px; height: 30px; max-height: 30px; overflow: hidden; border-radius: 50%; }
.lb-chat-messages-item--placeholder .lb-chat-messages-data { padding: 0px; display: block; }
.lb-chat-messages-item--placeholder .lb-chat-messages-data .lb-chat-messages-data__item--avatar { border-radius: initial; height: initial; }
.lb-chat-messages-bundle { vertical-align: middle; overflow: hidden; }
.lb-chat-message { margin-bottom: 3px; background-color: rgb(236, 236, 236); padding: 10px 14px; transition: all 0.2s ease 0s; overflow: hidden; text-overflow: ellipsis; overflow-wrap: break-word; float: right; clear: both; max-width: 100%; box-sizing: border-box; }
.lb-chat-message:last-child { margin-bottom: 0px; }
.lb-chat-message--is-pushed { position: relative; bottom: 0px; animation: 0.3s cubic-bezier(0.52, 0.54, 0.59, 0.99) 0s normal none 1 running scale; transform-origin: 50% 50% 0px; }
.lb-chat-messages-item--placeholder .lb-chat-message { background: transparent none repeat scroll 0% 0% ! important; padding-top: 0px; color: rgb(119, 119, 119); float: left; }
.lb-chat-message--file-title { display: block; font-weight: 300; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 95%; padding-bottom: 3px; margin: 0px; }
.lb-chat-message--file-info { display: block; font-weight: 300; padding-right: 8px; }
.lb-chat-message--file-info a { font-weight: 300; }
@keyframes scale {
0% { transform: scale(0); bottom: -35px; }
}
@keyframes scale {
0% { transform: scale(0); bottom: -35px; }
}
.lb-chat-system-message { padding: 10px 0px; font-size: 12px; margin-bottom: 3px; }
.lb-chat-system-message__wrapper-icon { width: 55px; height: 55px; margin: 0px auto 10px; }
.lb-chat-system-message__icon { background-position: 50% center; background-repeat: no-repeat; background-size: contain; height: 100%; }
.lb-chat-system-message__icon--attachement { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%236660000000c' d='M78.7 35.3l-16-16-.3-.3H50v-5c0-4-3-7-7-7s-7 3-7 7v5H21v74h58V35.6l-.3-.3zm-3-.3H63V22.4L75.6 35zM38 14c0-2.8 2.2-5 5-5s5 2.2 5 5v5H38v-5zm39 77H23V21h25v20c0 4-3 7-7 7s-7-3-7-7V28h-2v13c0 5 4 9 9 9s9-4 9-9V21h11v15c0 .6.4 1 1 1h15v54z'/%3E%3C/svg%3E"); }
.lb-chat-system-message__icon--phone { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%236660000000c' d='M58.3 84.9c-1.4-.3-2.4-.9-4.8-2.5-6.9-4.7-12.7-9.6-19.4-16.3-6.6-6.5-11.2-12-16.1-19.1-2.4-3.4-2.9-4.8-2.9-7.5 0-3.6 1.2-5.8 5.4-9.7 1.9-1.7 2.6-2.2 4-2.5 1.5-.4 3.6-.2 5.1.6.9.5 7.9 7.4 8.6 8.6.9 1.5 1.2 3.5.8 5.4-.2 1.2-.9 2.5-2.1 3.7l-.9 1 .7.8c4.4 5.2 10.6 11.4 15.9 15.8l.8.7 1.1-1c1.6-1.5 3.3-2.2 5.3-2.2 1.2 0 2.4.3 3.5.8 1 .5 8 7.4 8.7 8.6.9 1.5 1.3 3.7.8 5.5-.4 1.7-.9 2.4-3.7 5.2-2.5 2.4-2.7 2.6-3.9 3.2-.7.4-1.7.7-2.2.8-1.2.3-3.7.3-4.8 0l.1.1zm4.7-2.3c1.4-.4 2.4-1.2 4.9-3.7 2.8-2.8 3.1-3.4 3-5.1-.1-1.8-.3-2.1-4.4-6.2-2.1-2.1-4-3.9-4.3-4-1-.6-2.1-.7-3.2-.5-1.2.3-1.4.5-3.2 2.2-1.9 1.8-2 1.9-3.3.8-5.1-4.1-14.2-13.2-18.3-18.2-1.1-1.3-1.1-1.5.7-3.3.8-.9 1.6-1.9 1.8-2.2.7-1.3.7-2.7 0-4.1-.4-.7-6.3-6.9-7.7-7.9-1-.8-1.8-1.1-3-1.1-1.6 0-2.2.4-4.9 3-1.3 1.3-2.6 2.7-2.9 3.2-1.5 2.2-1.6 5.3-.3 7.6 1.6 2.7 7.1 9.9 11.6 15.1 2.8 3.2 8.9 9.3 12.1 12.1 6.4 5.6 14.6 11.6 16.7 12.1 1.3.5 3.3.5 4.5.1l.2.1zM59.5 51c-.3-.3-.4-.6-.4-1.4-.2-1.6-.4-2.3-1-3.6-.8-1.7-2.2-3.1-3.9-3.9-1.4-.7-2.2-.9-3.7-1-.8-.1-1.2-.2-1.4-.4-.5-.4-.5-.9 0-1.4.2-.4.4-.4 1.6-.4 5.3.2 10.1 5.1 10.5 10.5 0 1.4 0 1.4-.4 1.7-.6.4-1.1.4-1.5 0l.2-.1zm11.8 0c-.4-.3-.4-.4-.5-2.1-.2-3.5-1.1-6.3-2.7-9.3C65.4 35 61 31.5 56 30.1c-1.8-.5-2.8-.7-4.8-.8-1.6 0-1.8-.1-2.1-.5-.5-.5-.5-1.1 0-1.5.4-.4.4-.4 2.1-.2 11.4.6 21.2 10.3 21.8 22 0 1.8 0 1.8-.4 2.1-.5.5-1.1.5-1.5.1l.2-.3zm12 .2c-.5-.2-.6-.7-.6-1.8 0-.6-.1-1.6-.1-2.5-1.3-12.8-9.9-23.7-22-27.8-3-1.1-7-1.8-9.7-1.8-1.1 0-1.6-.2-1.8-.8-.2-.6 0-1.3.6-1.5.5-.2 2.8-.1 5.1.2 13.3 2 24.4 11.4 28.6 24.3.9 2.8 1.4 5.6 1.6 8.9.1 1.8 0 2.3-.6 2.6-.4.2-.6.2-1.1 0v.2z'/%3E%3C/svg%3E"); }
.lb-chat-system-message__icon--person { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='24' fill='none' stroke='%2304b25e' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath fill='none' d='M0 0h50v50H0z'/%3E%3Cpath fill='%2304b25e' d='M29.93 35.53c-.14-1.6-.1-2.74-.1-4.2.74-.4 2.05-2.84 2.27-4.9.58-.05 1.48-.6 1.75-2.82.14-1.16-.43-1.82-.78-2.03.94-2.8 2.88-11.5-3.58-12.4C28.8 8 27.1 7.4 24.9 7.4c-8.86.15-9.93 6.68-8 14.15-.33.2-.9.87-.76 2.06.27 2.24 1.17 2.8 1.75 2.85.2 2.06 1.56 4.5 2.3 4.9 0 1.46.04 2.6-.1 4.2-1.26 3.4-7.74 3.65-11.47 6.92 3.9 3.93 10.23 6.75 16.9 6.75s14.54-5.27 15.85-6.7c-3.7-3.3-10.2-3.56-11.48-6.96z'/%3E%3C/svg%3E"); }
.lb-chat-system-message__icon--operator img.lb-chat-messages-avatar { width: 55px; height: 55px; border-radius: 50%; display: inline; }
.lb-chat-system-message__icon--has-center { text-align: center; margin: 0px auto 10px; }
.lb-chat-system-message__icon--has-center img:first-child { position: relative; left: 5px; }
.lb-chat-system-message__icon--has-center img:nth-child(2) { position: relative; right: 5px; }
.lb-chat-system-message__icon--has-center img:nth-child(3) { position: relative; right: 15px; }
.lb-chat-system-message__description { text-align: center; margin-bottom: 7px; }
.lb-overlap .lb-chat-system-message__wrapper-icon { margin-bottom: 7px; }
.lb-overlap .lb-chat-system-message__description { margin-bottom: 10px; }
.lb-balloon { padding: 10px; position: relative; color: rgb(255, 255, 255); font-size: 14px; margin-bottom: 15px; -moz-user-select: none; }
.is-theme-color-3 .lb-balloon { background-color: rgb(43, 132, 210); }
.lb-balloon__wrapper-notify { opacity: 0.7; }
.lb-balloon__wrapper-notify .lb-notify { font-size: 11.9px; color: rgb(255, 255, 255); }
.lb-balloon__wrapper-notify .lb-notify__icon { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fff' d='M123.3 16L112 4.7c-3-3-7.2-4.7-11.3-4.7s-8.2 1.6-11.3 4.7L20.7 73.4C17.7 76.4 8 88.6 8 92.7L0 128l35.3-8s16.2-9.6 19.3-12.7l68.7-68.7c6.3-6.2 6.3-16.4 0-22.6zM10.6 117.4l5.2-23c0-.3 0-.6.2-1l18 18-1.7 1-21.7 5zM49 101.6c-1 1-4 3-8 5.5L20.5 86.5c2-3 4.5-5.8 6-7.3L78 27.4 100.8 50 49 101.5zM117.7 33l-11.4 11.3-22.6-22.6L95 10.3c1.5-1.5 3.5-2.3 5.7-2.3s4 .8 5.6 2.3l11.4 11.4c1.5 1.5 2.3 3.5 2.3 5.6 0 2-.8 4.2-2.3 5.7z'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: contain; width: 12px; margin-right: 5px; height: 13px; }
.lb-balloon__wrapper-form { margin-top: 10px; }
.lb-balloon__wrapper-form__blinking-cursor { position: absolute; top: 4px; left: 13px; font-weight: 100; font-size: 17px; color: rgb(46, 61, 72); animation: 1s step-end 0s normal none infinite running lb-anim-blinking-cursor; }
.lb-balloon__wrapper-form .lb-button { padding: 5px 3px ! important; }
.lb-balloon__outside-box { position: absolute; top: 100%; left: 16px; right: 16px; color: rgba(42, 46, 53, 0.85); line-height: 1; }
.lb-widget-layout-balloon--position-left .lb-balloon__outside-box { text-align: right; }
.lb-balloon::after { position: absolute; content: ""; display: block; top: 100%; height: 0px; width: 0px; box-sizing: border-box; border-width: 8px; border-style: solid; border-top: 8px solid; border-right: 8px solid; border-left: 8px solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-color: transparent ! important; }
.is-theme-color-3 .lb-balloon::after { border-color: rgb(43, 132, 210); }
.lb-widget-layout-balloon--position-left .lb-balloon { border-bottom-right-radius: 0px ! important; }
.lb-widget-layout-balloon--position-left .lb-balloon::after { right: 0px; border-left-color: transparent ! important; }
.lb-balloon-content { cursor: pointer; }
.lb-balloon-operator { opacity: 0.7; margin-bottom: 2px; }
.lb-balloon-messages-list { margin-bottom: 8px; }
.lb-balloon-close { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJz48cGF0aCBkPSdNNDM3LjUgMzg2LjZMMzA3IDI1NmwxMzAuNS0xMzAuNmMxNC0xNCAxNC0zNi44IDAtNTEtMTQtMTQtMzYuOC0xNC01MSAwTDI1NiAyMDUuMiAxMjUuNCA3NC42Yy0xNC0xNC0zNi44LTE0LTUxIDAtMTQgMTQtMTQgMzYuOCAwIDUxTDIwNS4yIDI1NiA3NC42IDM4Ni42Yy0xNCAxNC0xNCAzNi44IDAgNTEgMTQgMTQgMzYuOCAxNCA1MSAwTDI1NiAzMDYuOGwxMzAuNiAxMzAuNWMxNCAxNCAzNi44IDE0IDUxIDAgMTQtMTQgMTQtMzcgMC01MXonLz48L3N2Zz4="); width: 10px; z-index: 1; height: 10px; position: absolute; top: 10px; right: 10px; opacity: 0.3; }
.lb-chat { height: 100%; position: relative; padding-top: 50px; padding-bottom: 74px; box-sizing: border-box; }
.lb-layout-chat-messages { position: relative; height: 100%; }
.lb-layout-chat-messages__wrapper-notify { z-index: 1; position: absolute; bottom: 0px; padding: 0px 5px; line-height: 28px; left: 13px; right: 17px; background-color: rgba(255, 255, 255, 0.95); }
.lb-layout-chat-messages__wrapper-notify .lb-notify__icon { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23aaa' d='M123.3 16L112 4.7c-3-3-7.2-4.7-11.3-4.7s-8.2 1.6-11.3 4.7L20.7 73.4C17.7 76.4 8 88.6 8 92.7L0 128l35.3-8s16.2-9.6 19.3-12.7l68.7-68.7c6.3-6.2 6.3-16.4 0-22.6zM10.6 117.4l5.2-23c0-.3 0-.6.2-1l18 18-1.7 1-21.7 5zM49 101.6c-1 1-4 3-8 5.5L20.5 86.5c2-3 4.5-5.8 6-7.3L78 27.4 100.8 50 49 101.5zM117.7 33l-11.4 11.3-22.6-22.6L95 10.3c1.5-1.5 3.5-2.3 5.7-2.3s4 .8 5.6 2.3l11.4 11.4c1.5 1.5 2.3 3.5 2.3 5.6 0 2-.8 4.2-2.3 5.7z'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: contain; margin-top: 5px; margin-right: 9px; width: 17px; height: 17px; }
.lb-widget-layout-balloon { position: absolute; width: 230px; z-index: -1; overflow: hidden; transition: opacity 0.1s ease 0s; max-width: unset; }
.lb-widget-layout-balloon--posititon-top { bottom: 100%; }
.lb-widget-layout-balloon--position-left { right: 100%; margin-right: -6px; transform-origin: 100% 100% 0px; }
.is-layout-balloon-closed .lb-widget-layout-balloon--position-left, .lb-widget-layout-balloon--position-left { opacity: 0; visibility: hidden; transition: opacity 0.1s ease 0s, visibility 0s ease 0.1s; }
@keyframes tilt-left-in {
0% { transform: rotate3d(300, -40, 60, -50deg); }
60% { transform: rotate(2deg); }
100% { transform: rotate3d(0, 0, 0, 0deg); }
}
@keyframes tilt-left-in {
0% { transform: rotate3d(300, -40, 60, -50deg); }
60% { transform: rotate(2deg); }
100% { transform: rotate3d(0, 0, 0, 0deg); }
}
@keyframes tilt-right-in {
0% { transform: rotate3d(-30, 8, 10, 50deg); }
60% { transform: rotate(-2deg); }
100% { transform: rotate3d(0, 0, 0, 0deg); }
}
@keyframes tilt-right-in {
0% { transform: rotate3d(-30, 8, 10, 50deg); }
60% { transform: rotate(-2deg); }
100% { transform: rotate3d(0, 0, 0, 0deg); }
}
.lb-widget-layout-button { vertical-align: middle; transform: translateZ(0px); }
.is-chat-closed .lb-widget-layout-button, .lb-widget-layout-button { opacity: 1; visibility: visible; transition: opacity 0.2s ease 0.42s, transform 0.4s ease 0.32s, -webkit-transform 0.4s ease 0.32s; }
.lb-widget-layout-chat { height: 100%; background-color: rgb(255, 255, 255); border-radius: 5px 5px 0px 0px; transform: translateZ(0px); position: relative; }
.is-chat-closed .lb-widget-layout-chat, .lb-widget-layout-chat { opacity: 0; visibility: hidden; }
.lb-widget-layout-header { position: absolute; top: 0px; left: 0px; right: 0px; box-sizing: border-box; text-align: center; z-index: 5; background-color: rgb(255, 255, 255); padding-left: 13px; padding-right: 13px; height: 50px; border-radius: 5px 5px 0px 0px; -moz-user-select: none; cursor: move; }
.lb-widget-layout-header::before { content: ""; height: 15px; position: absolute; left: 0px; right: 10px; pointer-events: none; top: 100%; background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)); }
.lb-widget-layout-header .lb-chat--online-operators { display: none; }
.lb-widget-layout-footer { position: absolute; left: 0px; right: 0px; bottom: 0px; background-color: rgb(225, 225, 225); text-align: center; overflow: hidden; }
.lb-widget-layout-footer__bottom-box { padding-left: 13px; padding-right: 13px; line-height: 16px; height: 16px; }
.lb-widget-layout-overlap { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; height: 100%; border-radius: inherit; z-index: 1; }
.is-overlap-layout-closed .lb-widget-layout-overlap, .lb-widget-layout-overlap { opacity: 0; visibility: hidden; transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s; }
.lb-chat-enter { background-color: rgb(236, 236, 236); padding: 10px 0px 10px 10px; line-height: 1.5; font-size: 14px; overflow: hidden; position: relative; }
.lb-chat-enter.lb-chat-enter__file-upload-enabled { padding: 10px 0px; }
.lb-chat-enter.lb-chat-enter__file-upload-enabled .lb-chat-enter__cell-bottom { display: table-cell; }
.lb-chat-enter__table { width: 100%; }
.lb-chat-enter__cell { vertical-align: middle; position: relative; }
.lb-chat-enter__cell.lb-chat-enter__cell-bottom { vertical-align: bottom; padding-bottom: 4px; display: none; }
.lb-chat-enter__cell--voice { transition: all 0.2s ease 0s; width: 57px; }
.lb-chat-enter__cell--voice .lb-chat-enter--voice-status--recording { display: none; }
.lb-chat-enter__cell--voice .lb-chat-enter--voice-status--waiting { display: none; }
.lb-chat-enter__field { width: 100% ! important; min-height: 38px ! important; height: 38px; line-height: 14px ! important; outline: medium none ! important; max-height: 120px ! important; padding: 10px ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; vertical-align: middle ! important; resize: none ! important; box-sizing: border-box ! important; overflow-x: hidden ! important; overflow-y: auto ! important; border: 1px solid rgb(200, 200, 200) ! important; transition: border-color 0.2s ease 0s ! important; font-family: inherit ! important; color: rgb(100, 99, 117) ! important; font-size: 13px ! important; }
.lb-chat-enter__field:-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-chat-enter__field::-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-chat-enter__field:hover { border-color: rgb(187, 187, 187) ! important; }
.lb-chat-enter__field:focus { border-color: rgb(162, 162, 162) ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
.lb-chat-enter__field:focus:-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-chat-enter__field:focus::-moz-placeholder { font-weight: lighter; color: darkgray; font-family: inherit; font-size: inherit; line-height: normal; }
.lb-chat-enter__button { min-width: initial ! important; letter-spacing: initial ! important; font-weight: initial ! important; font-family: inherit ! important; right: 0px ! important; top: 0px ! important; bottom: 0px ! important; padding: 0px ! important; margin: 0px ! important; background: transparent none repeat scroll 0% 0% ! important; border: medium none ! important; display: block ! important; width: 100% ! important; text-align: center ! important; transition: color 0.2s ease 0s ! important; outline: medium none ! important; color: rgb(42, 46, 53) ! important; font-size: 13.8px ! important; cursor: pointer ! important; position: static ! important; }
.lb-chat-enter__button:hover { color: rgb(3, 169, 244) ! important; }
.lb-chat-enter__button::before { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; width: 100%; }
.lb-chat-enter--file-button { display: inline-block; width: 24px; height: 24px; cursor: pointer; position: relative; }
.lb-chat-enter--file-button:hover .lb-chat-enter--file-attach { background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%2303A9F4' d='M16.5 8v9.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V7a2.5 2.5 0 0 1 5 0v8.5c0 .55-.45 1-1 1s-1-.45-1-1V8H10v7.5a2.5 2.5 0 0 0 5 0V7c0-2.21-1.79-4-4-4S7 4.79 7 7v10.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V8h-1.5z'/%3E%3C/svg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--file-attach { display: inline-block; width: 24px; height: 24px; background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23767e8d' d='M16.5 8v9.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V7a2.5 2.5 0 0 1 5 0v8.5c0 .55-.45 1-1 1s-1-.45-1-1V8H10v7.5a2.5 2.5 0 0 0 5 0V7c0-2.21-1.79-4-4-4S7 4.79 7 7v10.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V8h-1.5z'/%3E%3C/svg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--voice-button { display: inline-block; width: 24px; height: 24px; cursor: pointer; position: relative; vertical-align: middle; }
.lb-chat-enter--voice-button:hover .lb-chat-enter--voice { background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20320%20512%27%3E%3Cpath%20fill%3D%27%2303A9F4%27%20d%3D%27M160%20352c53.02%200%2096-42.98%2096-96V96c0-53.02-42.98-96-96-96S64%2042.98%2064%2096v160c0%2053.02%2042.98%2096%2096%2096zM96%2096c0-35.29%2028.71-64%2064-64s64%2028.71%2064%2064v160c0%2035.29-28.71%2064-64%2064s-64-28.71-64-64V96zm216%2096h-16c-4.42%200-8%203.58-8%208v56c0%2073.46-62.2%20132.68-136.73%20127.71C83.3%20379.18%2032%20319.61%2032%20251.49V200c0-4.42-3.58-8-8-8H8c-4.42%200-8%203.58-8%208v50.34c0%2083.39%2061.65%20156.12%20144%20164.43V480H72c-4.42%200-8%203.58-8%208v16c0%204.42%203.58%208%208%208h176c4.42%200%208-3.58%208-8v-16c0-4.42-3.58-8-8-8h-72v-65.01C256.71%20406.9%20320%20338.8%20320%20256v-56c0-4.42-3.58-8-8-8z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 4px 0px; }
.lb-chat-enter--voice-button:hover .lb-chat-enter--voice-cancel { transform: scale(1.35); background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%3E%3Cpath%20fill%3D%27%23de352e%27%20d%3D%27M256%208C119%208%208%20119%208%20256s111%20248%20248%20248%20248-111%20248-248S393%208%20256%208zm121.6%20313.1c4.7%204.7%204.7%2012.3%200%2017L338%20377.6c-4.7%204.7-12.3%204.7-17%200L256%20312l-65.1%2065.6c-4.7%204.7-12.3%204.7-17%200L134.4%20338c-4.7-4.7-4.7-12.3%200-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3%200-17l39.6-39.6c4.7-4.7%2012.3-4.7%2017%200l65%2065.7%2065.1-65.6c4.7-4.7%2012.3-4.7%2017%200l39.6%2039.6c4.7%204.7%204.7%2012.3%200%2017L312%20256l65.6%2065.1z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--voice-button:hover .lb-chat-enter--voice-send { transform: scale(1.35); background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%3E%3Cpath%20fill%3D%27%235ae5a2%27%20d%3D%27M504%20256c0%20136.967-111.033%20248-248%20248S8%20392.967%208%20256%20119.033%208%20256%208s248%20111.033%20248%20248zM227.314%20387.314l184-184c6.248-6.248%206.248-16.379%200-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628%200L216%20308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628%200l-22.627%2022.627c-6.248%206.248-6.248%2016.379%200%2022.627l104%20104c6.249%206.249%2016.379%206.249%2022.628.001z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--voice { display: inline-block; width: 24px; height: 24px; transition: all 0.2s ease 0s; background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20320%20512%27%3E%3Cpath%20fill%3D%27%23767e8d%27%20d%3D%27M160%20352c53.02%200%2096-42.98%2096-96V96c0-53.02-42.98-96-96-96S64%2042.98%2064%2096v160c0%2053.02%2042.98%2096%2096%2096zM96%2096c0-35.29%2028.71-64%2064-64s64%2028.71%2064%2064v160c0%2035.29-28.71%2064-64%2064s-64-28.71-64-64V96zm216%2096h-16c-4.42%200-8%203.58-8%208v56c0%2073.46-62.2%20132.68-136.73%20127.71C83.3%20379.18%2032%20319.61%2032%20251.49V200c0-4.42-3.58-8-8-8H8c-4.42%200-8%203.58-8%208v50.34c0%2083.39%2061.65%20156.12%20144%20164.43V480H72c-4.42%200-8%203.58-8%208v16c0%204.42%203.58%208%208%208h176c4.42%200%208-3.58%208-8v-16c0-4.42-3.58-8-8-8h-72v-65.01C256.71%20406.9%20320%20338.8%20320%20256v-56c0-4.42-3.58-8-8-8z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 4px 0px; }
.lb-chat-enter--voice-cancel { background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%3E%3Cpath%20fill%3D%27%23de352e%27%20d%3D%27M256%208C119%208%208%20119%208%20256s111%20248%20248%20248%20248-111%20248-248S393%208%20256%208zm0%20464c-118.7%200-216-96.1-216-216%200-118.7%2096.1-216%20216-216%20118.7%200%20216%2096.1%20216%20216%200%20118.7-96.1%20216-216%20216zm94.8-285.3L281.5%20256l69.3%2069.3c4.7%204.7%204.7%2012.3%200%2017l-8.5%208.5c-4.7%204.7-12.3%204.7-17%200L256%20281.5l-69.3%2069.3c-4.7%204.7-12.3%204.7-17%200l-8.5-8.5c-4.7-4.7-4.7-12.3%200-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3%200-17l8.5-8.5c4.7-4.7%2012.3-4.7%2017%200l69.3%2069.3%2069.3-69.3c4.7-4.7%2012.3-4.7%2017%200l8.5%208.5c4.6%204.7%204.6%2012.3%200%2017z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--voice-send { background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512%20512%27%3E%3Cpath%20fill%3D%27%232ECC71%27%20d%3D%27M256%208C119.033%208%208%20119.033%208%20256s111.033%20248%20248%20248%20248-111.033%20248-248S392.967%208%20256%208zm0%20464c-118.664%200-216-96.055-216-216%200-118.663%2096.055-216%20216-216%20118.664%200%20216%2096.055%20216%20216%200%20118.663-96.055%20216-216%20216zm141.63-274.961L217.15%20376.071c-4.705%204.667-12.303%204.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667%2012.303-4.637%2016.97.068l68.976%2069.533%20163.441-162.13c4.705-4.667%2012.303-4.637%2016.97.068l8.451%208.52c4.668%204.705%204.637%2012.303-.068%2016.97z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat scroll 0px 0px; }
.lb-chat-enter--voice-indicator { display: inline-block; vertical-align: middle; margin-left: 7px; margin-right: 7px; }
.lb-chat-enter--voice-indicator-status { background-color: rgb(222, 53, 46); vertical-align: middle; border-radius: 50%; width: 11px; height: 11px; margin-right: 3px; display: inline-block; animation: 2s ease 0s normal none infinite running ldbck-voice-record; }
.lb-chat-enter--file-upload { width: 24px; height: 24px; overflow: hidden; position: absolute; top: 0px; left: 0px; }
.lb-chat-enter--file-upload-button { cursor: pointer ! important; opacity: 0 ! important; font-size: 0px ! important; width: 200px ! important; height: 200px ! important; padding: 0px ! important; margin: 0px ! important; display: block ! important; position: relative ! important; top: -10px ! important; left: -3px ! important; }
@keyframes ldbck-voice-record {
0% { transform: scale(0.95); opacity: 0; box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.7); }
70% { transform: scale(1); opacity: 1; box-shadow: 0px 0px 0px 10px rgba(255, 0, 0, 0); }
100% { transform: scale(0.95); opacity: 0; box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); }
}
@keyframes ldbck-voice-record {
0% { transform: scale(0.95); opacity: 0; box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.7); }
70% { transform: scale(1); opacity: 1; box-shadow: 0px 0px 0px 10px rgba(255, 0, 0, 0); }
100% { transform: scale(0.95); opacity: 0; box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); }
}
.is-theme-light .lb-chat-enter { background-color: rgb(236, 236, 236) ! important; }
.is-theme-light .lb-chat-enter__button { color: rgb(42, 46, 53) ! important; }
.is-theme-light .lb-chat-enter__button:hover { color: rgb(3, 169, 244) ! important; }
.is-theme-light .lb-chat-message { font-weight: 300; }
.is-theme-light .lb-widget-layout-footer { background-color: rgb(225, 225, 225) ! important; }
.is-theme-light .lb-widget-layout-footer .lb-widget-link-technology { color: rgb(116, 116, 116) ! important; }
.is-theme-light .lb-widget-layout-footer .lb-widget-link-technology:hover { color: rgb(85, 85, 85) ! important; }
.lbShowButtonAnimation { animation-name: lbShowButtonAnimation; animation-duration: 0.3s; animation-timing-function: ease-out; visibility: visible ! important; }
@keyframes lbShowButtonAnimation {
0% { transform: scale(0.3) rotate(0deg) translateX(0%) translateY(0%); opacity: 0.2; }
100% { transform: scale(1) rotate(0deg) translateX(0%) translateY(0%); opacity: 1; }
}
@keyframes lbShowButtonAnimation {
0% { transform: scale(0.3) rotate(0deg) translateX(0%) translateY(0%); opacity: 0.2; }
100% { transform: scale(1) rotate(0deg) translateX(0%) translateY(0%); opacity: 1; }
}
